.calculadora{
display: block;
margin: 0 auto;
padding: 20px;
background: white;
border-radius: 14px;
width: 800px;
height: 400px;
box-shadow: 0px 0px 40px -5px;
}

button{
    border-radius: 4px;
    background: white;
    width: 60px;
    height: 60px;
    cursor: pointer;

}



#resultado{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 400px;
    height: 80px;
    line-height: 100px;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 25px;
    box-shadow: 0px 0px 40px -5px;
    overflow-y: scroll;
}


.aguila{

    width: 70px;
    height: 70px;
}

.clear{
    border-radius: 4px;
    width: 50px;
    height: 35px;
    background: red;
    color: white;

}

.clear:hover{
  background: #575757;
}


.pos_absolute{

/*position:absolute;*/
width: 105px;


}

.pos_relative{
    position: relative;
    top: 0px;
    right: 0px;
}

.navbar-link{
    color:black !important;
    text-align: center !important;

}

.navbar-nav{

    float:none;
    text-align: center;
}

.navbar-nav li{
display: inline-block;
float: none;
}

.c-img1{
padding-top: 70px;
}


